{% extends 'entrees/base.html' %}
{% load material_form material_frontend %}
{% load i18n %}


{% block subtitle %}Formulaire{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <dmc-form>
            <form action="{% url 'entrees:new-contact-form' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-content" id="form-container">
                    <h4 class="card-title" id="referent-contact-title">{% translate "Contact référent" %}</h4>
                    {% block form %}
                    {% if view.layout or form.layout %}
                    {% if view.layout %}
                    {% form layout=view.layout %}{% endform %}
                    {% endif %}
                    {% if form.layout %}
                    {% form layout=form.layout %}{% endform %}
                    {% endif %}
                    {% else %}
                    {% form %}{% endform %}
                    {% endif %}

                    <h4 class="card-title">{% translate "Contacts recommandés" %}</h4>
                    {{formset.management_form}}
                    {% for recommended_form in formset %}
                    <div class="section recommended-contact-form">
                        <h5 id="id-form-0-title">{% translate "Contact recommandé n°1" %}</h5>
                        <table>
                            {% form form=recommended_form %}{% endform %}
                        </table>
                        {% if formset.can_delete %}
                        <p>{{ form.DELETE }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {% endblock form %}
                </div>
                <div class="card-action">
                    <div class="right-align">
                        {% block submit_row %}
                        <button id="add-form" type="button" class="waves-effect waves-light btn white-text">
                            {% translate "Ajouter un contact" %}
                        </button>
                        <button type="submit" class="waves-effect waves-light btn white-text">{% translate "Enregistrer" %}</button>
                        {% endblock submit_row %}
                    </div>
                </div>
            </form>
        </dmc-form>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    <div class="sidenav" style="left: unset; top: auto; transform:unset">
        <ul>
            <li><a href="#referent-contact-title">{% translate "Contact référent" %}</a></li>
            <li><a href="#id-form-0-title">{% translate "Contact recommandé n°1" %}</a></li>
        </ul>
    </div>
</div>
{% endblock right-panel %}
{% endblock content %}


{% block messages %}
<!-- Script pour ajouter un formulaire de contact recommandé -->
<!-- TODO: Ajouter un script pour supprimer un formulaire de contact recommandé -->
<script language="JavaScript" type="text/javascript">
        let recForm = document.querySelectorAll(".recommended-contact-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let navUl = document.querySelectorAll(".right-panel div.sidenav")[0].lastElementChild
        let link = navUl.lastElementChild

        let formNum = recForm.length - 1
    
        addButton.addEventListener("click", addForm)


    function addForm(e) {
        e.preventDefault()

        let newForm = recForm[0].cloneNode(true)
        let formRegex = "form-0-"
        let titleRegex = `{% translate "Contact recommandé n°1" %}`

        let newLink = link.cloneNode(true)

        formNum++
        formString = `form-${formNum}-`
        titleString = `{% translate "Contact recommandé n°${formNum + 1}" %}`

        newForm.innerHTML = newForm.innerHTML.replace(formRegex, formString)
        newForm.innerHTML = newForm.innerHTML.replace(titleRegex, titleString)
        container.insertBefore(newForm, container.lastChild)

        newLink.innerHTML = newLink.innerHTML.replace(formRegex, formString)
        newLink.innerHTML = newLink.innerHTML.replace(titleRegex, titleString)
        navUl.insertBefore(newLink, navUl.lastChild)

        totalForms.setAttribute("value", `${formNum + 1}`)
    }
</script>
{% endblock messages %}