{% extends 'entrees/base.html' %}
{% load i18n %}

{% block subtitle %}{% translate "Accueil" %}{% endblock %}

{% block content %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{% translate "Raison d'être" %}</span>
            {% blocktranslate %}
            <p>Le collectif <a
                    href="https://www.lajauneetlarouge.com/x-urgence-ecologique-les-polytechniciens-qui-ne-regardent-pas-ailleurs/">X-Urgence
                    Écologique</a> (X-UE) rassemble déjà plusieurs centaines d'alumni. Nous pensons que
                beaucoup de ses membres s'interrogent sur leur parcours professionnel et voudraient se rendre plus
                utiles et faire réellement bouger les lignes, mais <strong>manquent de conseils et de retours
                    d'expérience</strong> de
                personnes ayant déjà travaillé dans les domaines liés à la transition écologique. Pour cela, nous avons
                mis en place un annuaire construit par les membres d'X-UE pour les membres d'X-UE, afin de
                <strong>faciliter les
                    prises de contact entre nous</strong>, mais aussi et surtout pour <strong>élargir notre réseau et
                    recommander d'autres
                    profils intéressants à l'intérieur et au-delà de la communauté polytechnicienne</strong>.
            </p>

            <p>Les personnes recommandées dans cet annuaire sont engagées sur les questions d'urgence écologique, dans
                leur travail actuel ou passé, et ont un parcours qui pourrait être intéressant pour des membres du
                collectif.</p>

            <p>Tu penses que ton parcours, professionnel ou personnel, pourrait intéresser, voire inspirer, ou tu
                connais des personnes pour qui c'est le cas et tu souhaiterais donner à la communauté l'opportunité de
                les contacter par ton intermédiaire ? <strong>Alors remplis ce questionnaire !</strong></p>

            <p>Tu as des questions ou remarques sur ce formulaire ? Tu souhaites partager tes attentes pour cet
                annuaire, suggérer des fonctionnalités voire contribuer au développement de la version sous Django ?
                Alors n'hésite pas à écrire à : <a
                    href="mailto:annuaire@xue.polytechnique.org">annuaire@xue.polytechnique.org</a></p>
            {% endblocktranslate %}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{% translate "Comment remplir l'annuaire&nbsp;?" %}</span>
            <form>
                <input type="submit" value="{% translate 'Formulaire' %}"
                    formaction="{% url 'entrees:new-contact-form' %}" class="btn btn-primary" />
            </form>
            <br />
            {% blocktranslate %}
            <p>
                Quelques points pour les recommandations de contacts que tu pourrais faire :
            <ul>
                <li>Si toi-même tu es d'accord pour être contacté et ne pas simplement être référent d'autres contacts,
                    n'oublie pas de t'ajouter à l'annuaire !</li>
                <li>Par ailleurs, sois assuré que <strong>tu resteras l'intermédiaire entre tes recommandations de
                        contacts et
                        les éventuels membres intéressés pour leur parler</strong>.</li>
            </ul>
            </p>
            {% endblocktranslate %}
        </div>

        <div class="card-content">
            <span class="card-title">{% translate "Comment consulter l'annuaire&nbsp;?" %}</span>
            <form>
                <input type="submit" value="{% translate 'Contacts' %}" formaction="{% url 'entrees:contacts' %}"
                    class="btn btn-primary" />
            </form>
            <br />
            {% blocktranslate %}
            <p>Pour rappel, afin de prendre contact avec quelqu'un, <strong>n'oublie pas de passer par le référent
                    indiqué</strong>.</p>
            {% endblocktranslate %}
        </div>
    </div>
</div>
{% endblock %}