{% extends 'entrees/base.html' %}
{% load material_form material_frontend %}


{% block subtitle %}{{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <dmc-form>
            <form action="{% url 'entrees:new-contact-form' %}" method="GET" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-content" id="form-container">
                    <span class="card-title" id="referent-contact-title">
                        {{ object.first_name }} {{ object.last_name }}
                    </span>
                    {% block form %}
                    {% if view.layout or form.layout %}
                    {% if view.layout %}
                    {% form layout=view.layout %}{% endform %}
                    {% endif %}
                    {% if form.layout %}
                    {% form layout=form.layout %}{% endform %}
                    {% endif %}
                    {% else %}
                    {% form %}{% endform %}
                    {% endif %}

                    {% endblock form %}
                </div>
            </form>
        </dmc-form>
    </div>
</div>
{% endblock left-panel %}
{% endblock content %}